nav {
	margin-bottom: 0;
	background-color: none;
}

.navbar-nav p {
	text-decoration: none;
	color: white;
	margin-bottom: 0;
}

nav a: hover {
	cursor: pointer;
}

.logo{
	position: absolute;
	bottom: 25px;
	height: 20px;
	width: 130px;
}

.appear{
	display: inline-block;
}

.disappear{
	display: none;
}

#intro {
	background: url(../img/fondo.png) 50% 0 fixed;
	background-size: cover;
	margin: 0 auto;
	width: 100%;
	margin-top: -3.5em;
	margin-bottom: 0;
	padding: 25% 0;
}

#bloque-img2{
	background: url(../img/imgfondo02.jpg) 50% 0 fixed;
	background-size: cover;
	padding: 1em 0;
}

.titleprinc h1, .titleprinc p{
	color: white;
	font-family: 'customFontName2', sans-serif;
}

.bloque {
	padding: 8% 0;
	border-top: 0.5px solid #eeebeb;
}

.webcaja {
	border: 0.5px solid #eeebeb;
	padding: 1em 0.5em;
}

.texto h2 {
	margin-bottom: 3em;
}

.gris {
	background-color: #fafafa;
}

.blanco {
	background-color: white;
	border-bottom: 0.5px solid #eeebeb;
}

.blanco .navbar-nav p {
	color: black;
}

#webcaja1:hover p,
#webcaja2:hover p,
#webcaja3:hover p{
	color: white;
}

.rojo{
	background-color: #D05751;
	color: white;
}

.celeste{
	background-color: #617AA0;
	color: white;
}

.verde{
	background-color: #59B78D;
	color: white;
}


.about img {
	margin: 1em 0;
}

.about {
	padding: 1.5em 0.5em;
}

.listabenef {
	margin-top: -2em;
}

.portfolio {
	margin-top: 3em;
}

.imagen {
	padding: 0.4em;

}

.imagen img {
	width: 70%;
}

.textinfo {
	font-size: 1.5em;
	color: white;
}

.nombre {
	font-weight: bold;
	font-size: 1.3em;
	margin: 0.5em 0 0.3em;
}

.about .nombre {
	margin-top: 0;
}

.tipo {
	font-size: 1em;
	color: gray;
}

.team .webcaja {
	background-color: #fafafa;
}

.nav-item:hover {
	cursor: pointer;
}

@font-face{
	font-family: customFontName;
	src: url('../fonts/BeatrixAntiqua-ThinTrial.otf'),
	url('../fonts/BeatrixAntiqua-ThinTrial.ttf') format('truetype'), /*to maximum browser compatibility you can do this*/
	url('../fonts/BeatrixAntiqua-ThinTrial.svg#font') format('svg');
}

@font-face{
	font-family: customFontName2;
	src: url("../fonts/UltimaPDaa-Hairline.otf"), url("../fonts/UltimaPDaa-Hairline.ttf") format("truetype"), url("../fonts/UltimaPDaa-Hairline.svg#font") format("svg");
}



@keyframes grow-left {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }

.agent-2 {
	transform: scaleX(0);
	transform-origin: left;
	animation: grow-left cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.5s forwards;
	animation-delay: 0.4s;
}
